In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('netflix_titles.csv')

In [7]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3479,s3480,Movie,Cultivating the Seas: History and Future of th...,Mana Yasuda,NaN,NaN,"September 28, 2019",2019,TV-PG,45 min,"Documentaries, International Movies",An in-depth look at the full-cycle breeding pr...
1014,s1015,TV Show,PJ Masks,NaN,"Jacob Ewaniuk, Kyle Breitkopf, Addison Holley","France, United Kingdom","April 19, 2021",2019,TV-Y,3 Seasons,Kids' TV,Three 6-year-old kids who live normal lives du...
3199,s3200,TV Show,Space Jungle,NaN,"Kim Min-hee, Park Yoon-hee, Sun Sung-wook",NaN,"December 1, 2019",2016,TV-Y,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",A broken spaceship strands four very tiny alie...
5344,s5345,Movie,Message from the King,Fabrice Du Welz,"Chadwick Boseman, Luke Evans, Teresa Palmer, A...","United Kingdom, France, Belgium, United States","August 4, 2017",2017,R,103 min,"Independent Movies, Thrillers",On a relentless quest to avenge his sister's m...
60,s61,Movie,Naruto Shippuden: The Movie: The Lost Tower,Masahiko Murata,"Junko Takeuchi, Chie Nakamura, Satoshi Hino, R...",Japan,"September 15, 2021",2010,TV-14,85 min,"Action & Adventure, Anime Features, Internatio...","When Naruto is sent to recover a missing nin, ..."

In [9]:
df.drop(["show_id","description"], axis=1, inplace=True)

In [11]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
4501,TV Show,Wanderlust,NaN,"Toni Collette, Steven Mackintosh, Zawe Ashton,...",United Kingdom,"October 19, 2018",2018,TV-MA,1 Season,"British TV Shows, International TV Shows, Roma..."
1861,Movie,Dil,Indra Kumar,"Aamir Khan, Madhuri Dixit, Saeed Jaffrey, Deve...",India,"October 12, 2020",1990,TV-14,165 min,"Comedies, Dramas, International Movies"
237,Movie,Boomika (Hindi),Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",NaN,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers"
3343,Movie,Santa Girl,Blayne Weaver,"Barry Bostwick, Jennifer Stone, Devon Werkheis...",United States,"November 1, 2019",2019,TV-PG,91 min,"Children & Family Movies, Comedies, Romantic M..."
1824,Movie,Taxi Ballad,Daniel Joseph,"Talal El-Jordi, Karina Logue, Badih Abou Chakr...","Lebanon, United States, United Arab Emirates","October 19, 2020",2012,TV-MA,81 min,"Dramas, International Movies"

In [13]:
df.shape

(8807, 10)

In [15]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [19]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [23]:
df["country"].value_counts()

country
United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

In [25]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [27]:
mode_country = df["country"].mode()[0]
mode_country

'United States'

In [29]:
df["country"] = df["country"].fillna(mode_country)

In [31]:
df["country"].isna().sum()

0

In [33]:
df['date_added'].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [35]:
mode_date = df['date_added'].mode()[0]
mode_date

'January 1, 2020'

In [37]:
df['date_added']=df['date_added'].fillna(mode_date)

In [39]:
df['date_added'].isna().sum()

0

In [41]:
mode_rating = df['rating'].mode()[0]
mode_rating

'TV-MA'

In [43]:
df['rating'] = df['rating'].fillna(mode_rating)
df['rating'].isna().sum()

0

In [45]:
mode_duration = df['duration'].mode()[0]

In [47]:
mode_duration

'1 Season'

In [49]:
df['duration'] = df['duration'].fillna(mode_duration)
df['duration'].isna().sum()

0

In [51]:
df['director'] = df['director'].fillna("Not Mentioned")
df['cast'] = df['cast'].fillna("Not Mentioned")
df['director'].isna().sum()
df['cast'].isna().sum()

0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [55]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [57]:
df = df[~df['rating'].str.contains("min")]

In [59]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [61]:
df['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [63]:
df['date_added'] = df['date_added'].str.replace(",","")

In [65]:
df['date_added'].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [67]:
df['date_added'] = pd.to_datetime(df['date_added'],format="mixed")

In [69]:
df['date_added'].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [71]:
df['year']=df['date_added'].dt.year

In [73]:
df['month']=df['date_added'].dt.month
df['day']=df['date_added'].dt.day

In [75]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
8462,Movie,The Power of Grayskull: The Definitive History...,"Randall Lobb, Robert McCallum",Not Mentioned,"Canada, United States",2018-08-24,2017,TV-14,96 min,Documentaries,2018,8,24
6239,Movie,Barbie: A Fairy Secret,William Lau,"Diana Kaarina, Adrian Petriw, Britt Irvin, Cas...",United States,2017-10-01,2010,TV-Y7,72 min,Children & Family Movies,2017,10,1
4197,Movie,Baazaar,Gauravv K Chawla,"Saif Ali Khan, Chitrangada Singh, Radhika Apte...",India,2019-01-13,2018,TV-MA,136 min,"Dramas, International Movies",2019,1,13
8075,Movie,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,"Antonio Banderas, Carla Gugino, Alexa PenaVega...",United States,2019-03-08,2002,PG,100 min,"Children & Family Movies, Comedies",2019,3,8
1663,Movie,Dolly Parton’s Christmas on the Square,Debbie Allen,"Dolly Parton, Christine Baranski, Treat Willia...",United States,2020-11-22,2020,TV-PG,99 min,"Children & Family Movies, Music & Musicals",2020,11,22

In [77]:
df['genre'] = df['listed_in'].str.split(",").str[0]

In [79]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre
1670,TV Show,Mismatched,Not Mentioned,"Prajakta Koli, Rohit Saraf, Vihaan Samat, Taar...",India,2020-11-20,2020,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",2020,11,20,International TV Shows
124,TV Show,Pororo - The Little Penguin,Not Mentioned,Not Mentioned,South Korea,2021-09-02,2013,TV-Y7,3 Seasons,"Kids' TV, Korean TV Shows",2021,9,2,Kids' TV
3498,Movie,Do Paise Ki Dhoop Chaar Aane Ki Baarish,Deepti Naval,"Manisha Koirala, Rajit Kapoor, Sanaj Naval, Ra...",India,2019-09-22,2009,TV-MA,121 min,"Dramas, Independent Movies, International Movies",2019,9,22,Dramas
2576,Movie,All Day and a Night,Joe Robert Cole,"Jeffrey Wright, Ashton Sanders, Regina Taylor,...",United States,2020-05-01,2020,R,122 min,"Dramas, Independent Movies",2020,5,1,Dramas
1428,Movie,Is Love Enough? Sir,Rohena Gera,"Tillotama Shome, Vivek Gomber, Geetanjali Kulk...","India, France",2021-01-08,2018,TV-MA,99 min,"Dramas, Independent Movies, International Movies",2021,1,8,Dramas

In [81]:
df['genre'].value_counts().head()

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [83]:
df["cast"].unique()

array(['Not Mentioned',
       'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng',
       'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera',
       ...,
       'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf',
       'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers',
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'],
      dtype=object)

In [85]:
df = df[df["cast"]!="Not Mentioned"]
df["cast"].unique()

array(['Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng',
       'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera',
       'Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar',
       ...,
       'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf',
       'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers',
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'],
      dtype=object)

In [87]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [89]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [91]:
df.drop(["cast","listed_in","date_added"],axis=1,inplace=True)

In [93]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
2151,TV Show,High Seas,Not Mentioned,Spain,2020,TV-MA,3 Seasons,2020,8,7,Crime TV Shows,Ivana Baquero
34,TV Show,Tayo and Little Wizards,Not Mentioned,United States,2020,TV-Y7,1 Season,2021,9,17,Kids' TV,Dami Lee
4036,Movie,Walk. Ride. Rodeo.,Conor Allyn,United States,2019,TV-PG,100 min,2019,3,8,Children & Family Movies,Spencer Locke
6610,Movie,Dil Hai Tumhaara,Kundan Shah,India,2002,TV-14,176 min,2018,4,1,Dramas,Rekha
5568,Movie,Pandora,Jung-woo Park,South Korea,2016,TV-MA,137 min,2017,3,17,Dramas,Nam-gil Kim

In [95]:
df.to_csv("cleaned_data.csv")