In [9]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('netflix_titles.csv')

In [13]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7189,s7190,Movie,Khushi,"Surya S.J., Sunil Kumar Agrawal","Fardeen Khan, Kareena Kapoor, Amrish Puri, Nav...",India,"March 1, 2018",2003,TV-14,157 min,"Comedies, International Movies, Music & Musicals",While playing matchmaker to a pair of their fr...
8731,s8732,Movie,While We're Young,Noah Baumbach,"Ben Stiller, Naomi Watts, Adam Driver, Amanda ...",United States,"October 23, 2017",2015,R,97 min,"Comedies, Dramas, Independent Movies",A documentary filmmaker struggling with a crea...
864,s865,Movie,Taxi No. 9211,Milan Luthria,"Nana Patekar, John Abraham, Sameera Reddy, Son...",NaN,"May 20, 2021",2006,TV-14,116 min,"Dramas, International Movies, Thrillers","When an arrogant scion hails his taxi, a cabbi..."
4365,s4366,TV Show,Frontier,NaN,"Jason Momoa, Landon Liboiron, Alun Armstrong, ...",Canada,"November 23, 2018",2018,TV-MA,3 Seasons,"International TV Shows, TV Action & Adventure,...","In 18th-century North America, ruthless trappe..."
7490,s7491,Movie,"Monster High: Boo York, Boo York",William Lau,"Karen Strassman, Celeste Henderson, Wendee Lee...",United States,"September 29, 2015",2015,TV-Y7,72 min,"Children & Family Movies, Music & Musicals",Cleo is invited to a gala in the big city cele...

In [15]:
df.drop(["show_id","description"], axis=1, inplace=True)

In [17]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
2598,TV Show,DRIFTING DRAGONS,NaN,"Tomoaki Maeno, Sora Amamiya, Soma Saito, Kana ...",Japan,"April 30, 2020",2020,TV-14,1 Season,"Anime Series, International TV Shows"
4552,Movie,Monty Python's Life of Brian,Terry Jones,"Graham Chapman, John Cleese, Terry Gilliam, Er...",United Kingdom,"October 2, 2018",1979,R,94 min,"Classic Movies, Comedies, Cult Movies"
2826,TV Show,On My Block,NaN,"Sierra Capri, Jason Genao, Brett Gray, Diego T...",United States,"March 11, 2020",2020,TV-14,3 Seasons,"Romantic TV Shows, TV Comedies, TV Dramas"
1107,Movie,God Calling,BB Sasore,"Zainab Balogun, Karibi Fubara, Diana Egwuatu, ...",Nigeria,"April 2, 2021",2018,TV-MA,120 min,"Dramas, Faith & Spirituality, International Mo..."
7719,Movie,Paying Guests,Paritosh Painter,"Shreyas Talpade, Javed Jaffrey, Aashish Chaudh...",India,"July 1, 2018",2009,TV-14,114 min,"Comedies, International Movies"

In [19]:
df.shape

(8807, 10)

In [21]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [25]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [27]:
df["country"].value_counts()

country
United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

In [29]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [31]:
mode_country = df["country"].mode()[0]
mode_country

'United States'

In [33]:
df["country"] = df["country"].fillna(mode_country)

In [35]:
df["country"].isna().sum()

0

In [37]:
df['date_added'].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [39]:
mode_date = df['date_added'].mode()[0]
mode_date

'January 1, 2020'

In [41]:
df['date_added']=df['date_added'].fillna(mode_date)

In [45]:
df['date_added'].isna().sum()

0

In [47]:
mode_rating = df['rating'].mode()[0]
mode_rating

'TV-MA'

In [49]:
df['rating'] = df['rating'].fillna(mode_rating)
df['rating'].isna().sum()

0

In [51]:
mode_duration = df['duration'].mode()[0]

In [53]:
mode_duration

'1 Season'

In [55]:
df['duration'] = df['duration'].fillna(mode_duration)
df['duration'].isna().sum()

0

In [57]:
df['director'] = df['director'].fillna("Not Mentioned")
df['cast'] = df['cast'].fillna("Not Mentioned")
df['director'].isna().sum()
df['cast'].isna().sum()

0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [63]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [67]:
df = df[~df['rating'].str.contains("min")]

In [69]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [71]:
df['date_added'].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [73]:
df['date_added'] = df['date_added'].str.replace(",","")

C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\1211396586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_added'] = df['date_added'].str.replace(",","")

In [75]:
df['date_added'].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [77]:
df['date_added'] = pd.to_datetime(df['date_added'],format="mixed")

C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\995423318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_added'] = pd.to_datetime(df['date_added'],format="mixed")

In [79]:
df['date_added'].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [81]:
df['year']=df['date_added'].dt.year

C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\3806547293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year']=df['date_added'].dt.year

In [83]:
df['month']=df['date_added'].dt.month
df['day']=df['date_added'].dt.day

C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\3240659301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month']=df['date_added'].dt.month
C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\3240659301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day']=df['date_added'].dt.day

In [85]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
3728,Movie,The End of Evangelion,"Hideaki Anno, Kazuya Tsurumaki","Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...",Japan,2019-06-21,1997,TV-MA,87 min,"Action & Adventure, Anime Features, Internatio...",2019,6,21
3070,Movie,Posesif,Edwin,"Putri Marino, Adipati Dolken, Gritte Agatha, C...",Indonesia,2020-01-01,2017,TV-MA,102 min,"Dramas, International Movies, Romantic Movies",2020,1,1
1490,Movie,The Magic School Bus Rides Again In the Zone,Richard Weston,"Mikaela Blake, Gabby Clarke, Roman Lutterotti,...",Canada,2020-12-26,2020,TV-Y,46 min,Children & Family Movies,2020,12,26
6710,Movie,Evan Almighty,Tom Shadyac,"Steve Carell, John Goodman, Molly Shannon, Lau...",United States,2019-04-16,2007,PG,96 min,"Children & Family Movies, Comedies, Faith & Sp...",2019,4,16
5246,TV Show,Sudden,Not Mentioned,"Rui En, Romeo Tan, Rebecca Lim, Zhang Zhenhuan",Singapore,2017-10-01,2013,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",2017,10,1

In [89]:
df['genre'] = df['listed_in'].str.split(",").str[0]

C:\Users\sambi\AppData\Local\Temp\ipykernel_17208\1791153194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'] = df['listed_in'].str.split(",").str[0]

In [91]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre
3672,Movie,Kidnapping Stella,Thomas Sieben,"Max von der Groeben, Jella Haase, Clemens Schick",Germany,2019-07-12,2019,TV-MA,90 min,"Dramas, International Movies, Thrillers",2019,7,12,Dramas
632,Movie,Wanted,Nibal Arakji,"Daad Rizk, Georges Diab, Sihame Haddad, George...",United States,2021-06-28,2019,TV-14,90 min,"Comedies, International Movies",2021,6,28,Comedies
5958,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...",2017,11,16,Action & Adventure
8495,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,2017-09-08,2015,R,90 min,"Dramas, Independent Movies",2017,9,8,Dramas
4438,Movie,Ghanchakkar,Raj Kumar Gupta,"Emraan Hashmi, Vidya Balan, Rajesh Sharma, Nam...",India,2018-11-01,2013,TV-MA,129 min,"Comedies, International Movies, Thrillers",2018,11,1,Comedies

In [93]:
df['genre'].value_counts().head()

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [95]:
df["cast"].unique()

array(['Not Mentioned',
       'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng',
       'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera',
       ...,
       'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf',
       'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers',
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'],
      dtype=object)

In [99]:
df = df[df["cast"]!="Not Mentioned"]
df["cast"].unique()

array(['Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng',
       'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera',
       'Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar',
       ...,
       'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf',
       'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers',
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'],
      dtype=object)

In [103]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [105]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [107]:
df.drop(["cast","listed_in","date_added"],axis=1,inplace=True)

In [109]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
3133,Movie,Don,Farhan Akhtar,India,2006,TV-14,169 min,2019,12,15,Action & Adventure,Shah Rukh Khan
4336,Movie,Crossroads: One Two Jaga,Nam Ron,Malaysia,2018,TV-14,81 min,2018,12,1,Dramas,Zahiril Adzim
4463,Movie,Vaya,Akin Omotoso,South Africa,2016,TV-MA,106 min,2018,11,1,Dramas,Mncedisi Shabangu
1142,Movie,White Boy,Shawn Rech,United States,2017,TV-MA,83 min,2021,4,1,Documentaries,Richard Wershe Jr.
7257,TV Show,La Rosa de Guadalupe,Not Mentioned,Mexico,2010,TV-PG,1 Season,2019,1,15,Classic & Cult TV,Milia Nader

In [111]:
df.to_csv("cleaned_data")